 @charset "UTF-8"; /*文字コードにUTF-8を使うという宣言*/

 html{
    /* ブラウザの設定に合わせるための文言 */
    /* 裏設定で基本は16px */
    font-size: 100%;
 }

 body{
    font-family: sans-serif; /*ゴシック体が選べれるように*/
    font-size: .875rem; /*remはhtmlで指定されているサイズを1remとした相対値*/
    color: #2a2a2a;
 }

 a{
    text-decoration: none;
 }

 img{
    /* 画像の大きさがどんなに大きくても、親要素をはみ出すことはしない */
    max-width:100% ;
 }

 li{
    list-style: none;
 }

 .wrapper{
    max-width: 1200px;/*最大でも1200pxにしかならない*/
    margin: 0 auto;/*左右均等に余白を割り振ってコンテンツを真ん中に配置*/
    padding: 0 5%;/*左右の内余白をその時の大きさの5%だけ確保*/
 }

 .sec-title{
    font-size: 1.5rem;
    margin-bottom: 20px;
 }

 .btn{
    color:#2a2a2a;
    border: solid 1px #2a2a2a;/*枠線*/
    font-size:  .75rem;
    padding: 14px 36px;
    display: inline-block; /*aの性格とbの性格をブレンドしたいいとこどりの性格に矯正*/
    margin-top: 30px;
 }

 #header{
    height: 100vh; /*vhとはウィンドウサイズの縦の割合*/
    background-image: url(../img/mainvisual.jpg) ; /*背景画像*/
    background-repeat: no-repeat; /*header内に背景画像を繰り返し配置するかどうが*/
    background-size: cover;/*広がり方*/
    background-position: center top;/*どこに焦点をあてるか 左 上*/
    margin-bottom: 80px;
    position: relative; /*基準点*/
 }

 /*headerの中のh1*/
 .site-title{
   position:absolute;/*親基準に対しての絶対値*/
   top: 30px;
   right: 30px;
 }

 #magazine{
    text-align: center;
    margin-bottom: 80px;
 }

 #magazine .flex-item{
    display: flex;
    margin-top: 40px;
    gap: 10px;
 }

 #magazine .item{
    width: 50%;
    position: relative; /*相対の基準点*/
 }

 #magazine .item .text{
    max-width: 290px;
    background: rgba(0,0,0,.5);/*透明にしている 50%の透明度*/
    padding: 15px 0;
    color: #FFF;
    position: absolute;/*親基準に対して絶対点*/
    top: 40%;/*親基準の上から40%の位置*/
    /* bottom: 60%; */
    left: 20%;/*親基準の左から20%の位置*/
    /* right: 40%; */
 }

 #magazine .item .title{
    font-size: 1.25rem;
    margin-bottom: 2px;
 }

 #fashion{
   height: 520px;/*高さの固定*/
   background-image: url(../img/fashion.jpg);/*背景画像*/
   background-size: cover;/*背景の広がりの指定、ただしトリミングする*/
   background-position: center top; /*どこに焦点をあてるか左 上の指定 */
   background-repeat: no-repeat;/*スペースが余った際に画像を繰り返すかどうか*/
   text-align: center;
   /* border: 5px solid #aaa; */
   padding-top: 60px;
   margin-bottom: 80px;
}

.catalog-antique{
   padding: 60px 0;
   background: #f5f5f5;
}

/*上の方で定義した。.sec-titleに対して、margin-bottomの部分だけ上書き*/
.catalog-antique .sec-title{
   margin-bottom:40px ;
}

.catalog-antique .flex-item{/*.itemをまとめているクラス*/
   display: flex;
   align-items: center; /*flexの子供たちの縦位置を中央に*/
   gap: 40px;
}

.catalog-antique .item{
   width: 50%;/*子供の幅を半々に*/
}

/*:last-child 最後の対象物 擬似クラス むやみにクラス名を増やしすぎないため*/
.catalog-antique:last-child{
   margin-bottom: 80px;
}

#footer{
   background: #333;
   font-size: 0.75rem;
}

#footer .flex-item{
   display: flex;
   color: #fff;
   padding: 100px 0;
   /*space-between 端から端に配置しつつ、均等に並べる*/
   justify-content: space-between;
   align-items: center;
}

#footer .item{
   /* width: 33.33333%;三分割 */
   width: 30%;
}

#footer .item .title{
   font-size: 1rem;
   font-weight: bold;
   margin-bottom: 10px;
}

#footer .copyright{
   background: #fff;
   text-align: center;
   padding: 30px;
}

/* 「最大でも」600pxが限界の時 = 画面が小さい */
@media screen and (max-width:600px){
   #magazine .flex-item{
      /* flexは必ずしも横並びだけの指示じゃない */ 
      /*ただし、デフォルトは横並びはだった*/
      flex-direction: column;/*並び方の指定 rawは横(デフォルト),columnは縦*/
   }

   #magazine .item{
      width: 100%;
   }

   #fashion{
      padding-top:35px ;
      margin-bottom: 50px;
   }

   .catalog-antique .flex-item{
      flex-direction: column;
   }

   .catalog-antique .item{
      width: 100%;
   }

   #footer .flex-item{
      flex-direction: column;
      padding: 30px;
      gap: 30px;
   }

   #footer .item{
      width: 100%;
   }
   
   /*擬似クラスをつかって、itemの先頭要素だけを指定*/
   #footer .item:first-child{
      text-align: center;
   }
}
